:global .slide-transition-enter {
    left : 100%
}

:global .slide-transition-enter-active {
    left : 0;
    transition: left 300ms ease;
}

:global .slide-transition-exit {
    right : 0;
}

:global .slide-transition-exit-active {
    right: 100%;
    transition: right 300ms ease;
}


.content{
    height: auto;
    width: 100%;
    position: absolute;
}