.ResetPasswordArea{
    display: flex;
    flex-direction: column;
    transition : margin 0.4s ease;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.TextArea{
    margin: 100px 43px 0 43px;
}

.ResetPasswordText{
    font-size: 25px;
    color : white;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.45px;
}

.SVGImage{
    width : 150px;
}