.SignInArea {
    padding: 0 40px;
}

.ForgotPassword {
    color: #78B7FF;
    text-align: center;
    display: block;
    font-size: 15px;
}

.SignUpBack{
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}