.LogoArea{
    width: 100%;
    height: 100%;
}

.BottomBtnMain{
    bottom : 0;
    position : absolute;
    width: 100%;
    align-content: stretch;
}

.Title{
    font-size: 32px;
    font-weight: bold;
    color : white;
    text-align: center;
}

@keyframes button{
    0% {
        flex-grow: 1;
        width : 0;
    }

    90%{
        flex-grow: 0;
        width : 0;
    }

    100%  {
        width : 0;
        flex-grow: 0;
        opacity: 0;
    }
}