.VerificationArea {
    display: flex;
    flex-direction: column;
    transition: margin 0.4s ease;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.TextArea {
    margin: 0 43px 0 43px;
}

.VerificationAreaText {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.45px;
}