:root {
  --ion-color-primary: #203145;
  --ion-color-primary-rgb: 32, 49, 69;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1c2b3d;
  --ion-color-primary-tint: #364658;

  --ion-color-secondary: #78B7FF;
  --ion-color-secondary-rgb: 120, 183, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #6aa1e0;
  --ion-color-secondary-tint: #86beff;

  --ion-color-tertiary: #3C5B80;
  --ion-color-tertiary-rgb: 60, 91, 128;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #355071;
  --ion-color-tertiary-tint: #506b8d;

  --ion-color-success: #78e08f;
  --ion-color-success-rgb: 120, 224, 143;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6ac57e;
  --ion-color-success-tint: #86e39a;

  --ion-color-warning: #fad390;
  --ion-color-warning-rgb: 250, 211, 144;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dcba7f;
  --ion-color-warning-tint: #fbd79b;

  --ion-color-danger: #eb2f06;
  --ion-color-danger-rgb: 235, 47, 6;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf2905;
  --ion-color-danger-tint: #ed441f;

  --ion-color-dark: #434545;
  --ion-color-dark-rgb: 67, 69, 69;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3b3d3d;
  --ion-color-dark-tint: #565858;

  --ion-color-medium: #DFE6E6;
  --ion-color-medium-rgb: 223, 230, 230;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #c4caca;
  --ion-color-medium-tint: #e2e9e9;

  --ion-color-light: #F7FFFF;
  --ion-color-light-rgb: 247, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d9e0e0;
  --ion-color-light-tint: #f8ffff;
}

:global(.toast-button) {
  color: white;
}

/* Global Variables */

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: #203145;

  --ion-text-color: #F7FFFF;

  --ion-button-color : var(--ion-color-light);

  /* Set the font family of the entire app */
  --ion-font-family: "Open Sans",
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}